{% extends "mongoadmin/base.html" %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    {# <li><a href="../">MongoAdmin</a> <span class="divider">/</span></li> #}
    <li>List of ervices</a></li>
</ul>
{% endblock %}

{% block content %}
{# <p><a href="add/" class="btn" style="float:right;">&#10010; Add database</a></p> #}

{# <h2>Connection "{{ connection }}"</h2> #}
<h2>{{ connection }}</h2>

<table>
    <thead>
        <tr>
            <th>Database name</th>
        </tr>
    </thead>

    <tbody>
    {% for connect in connects %}
        <tr>
            <td><a href="/mongo/connect/{{ connect.id }}/">{{ connect.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

<body>

</body>
</html>