certifi==2017.4.17
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.2
django-allauth==0.32.0
django-appconf==1.0.2
django-compressor==2.1.1
idna==2.5
oauthlib==2.0.2
psycopg2==2.7.1
pymongo==3.4.0
python3-openid==3.1.0
pytz==2017.2
rcssmin==1.0.6
requests==2.17.3
requests-oauthlib==0.8.0
rjsmin==1.0.12
urllib3==1.21.1
